<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--add name="SQLConnection" connectionString="Data Source=Invixium-New\SQLEXPRESS;Initial Catalog=IXMDB;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes"/-->
    <add name="SQLConnection" connectionString="Data Source=Invixium-New\SQLEXPRESS;Initial Catalog=IXMDB;User Id= sa;Password=P@ssw0rd"/>
  </connectionStrings>
  <appSettings>
    <add key="LogFile" value="true"/>
    <add key="CRMAdminUser" value=""/>
    <add key="CRMAdminPassword" value=""/>
    <add key="OrganizationServiceUrl" value="https://bpscrm.bps.com.lb/XRMServices/2011/Organization.svc"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <!--other settings-->
  </system.web>
</configuration>
