<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=sql-crm2016;Initial Catalog=BPSCRMLive_MSCRM;Integrated Security=False; User ID=sa; Password=P@ssw0rd!@#;MultipleActiveResultSets=True"/>
    <add name="CrmOnline" connectionString="Url=https://bps.api.crm4.dynamics.com; Username=; Password=; authtype=Office365; RequireNewInstance=True"/>
  </connectionStrings>
  <appSettings>
    <add key="CRMAdminUser" value=""/>
    <add key="CRMAdminPassword" value=""/>
    <add key="OrganizationServiceUrl" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
</configuration>
