<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=sql-crm2016-9;Initial Catalog=BPSCRMLive_MSCRM;Integrated Security=False; User ID=sa; Password=P@ssw0rd;MultipleActiveResultSets=True"/>
    <add name="CrmOnline" connectionString="Url=https://crmdemosite.crm4.dynamics.com/; Username=; Password=; authtype=Office365; RequireNewInstance=True"/>
  </connectionStrings>
  <appSettings>
    <add key="CRMAdminUser" value="husseink@bpsme.com"/>
    <add key="CRMAdminPassword" value="**********"/>
    <add key="OrganizationServiceUrl" value="https://crmdemosite.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.web>
    <httpRuntime maxRequestLength="268435456" />
  </system.web>
</configuration>
