<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnection" connectionString="Data Source=sql-crm2016;Initial Catalog=BPSCRMLive_MSCRM;Integrated Security=False; User ID=sa; Password=P@ssw0rd!@#;MultipleActiveResultSets=True" />
    <add name="CrmOnline" connectionString="Url=https://ifpcrmsandbox.crm4.dynamics.com; Username=crmadmin@ifpgroup.net; Password=crm@$IFP885522; authtype=Office365; RequireNewInstance=True" />
  </connectionStrings>
  <appSettings>
    <add key="CRMAdminUser" value="crmadmin@ifpgroup.net" />
    <add key="CRMAdminPassword" value="crm@$IFP885522" />
    <add key ="OrganizationServiceUrl" value ="https://ifpcrmsandbox.api.crm4.dynamics.com/XRMServices/2011/Organization.svc"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>